body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.leftSide {
    font-size: 18px;
    margin-right: 50px;
    height: auto;
    width: 20%;
    float: left;
    margin-top: 15px;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin-bottom: 5px;
    border-radius: 13px;
    width: 100%;
    padding: 8px 10px;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navigation li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.navigation li:hover {
    background-color: #e0e0e0;
}

.redButton {
    padding: 10px;
    background-color: #e74c3c;
    color: white;
    border-radius: 13px;
    width: 18%;
    text-align: center;
    margin-left: 35px;
    margin-bottom: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.redButton a {
    text-decoration: none;
    color: white;
}

.redButton:hover {
    background-color: #c0392b;
}

.nomination {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    width: 75%;
    padding-top: 9px;
    float: left;
    margin-left: 10px;
}

h1, h2, h3, h4 {
    margin-bottom: 10px;
}

.container {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.photo:hover {
    background-color: #d3d3d3;
}

.info {
    margin-left: 15px;
    width: 100px;
}

.info h4, .info small {
    margin: 10px 0px 3px 0px;
    white-space: nowrap;

}

small {
    color: gray;
}

.current {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    white-space: nowrap;
    gap: 110px;
    margin-bottom: 50px;
}


