body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-image: url('../../public/PIC/1.jpg');
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    padding: 150px 50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1, .header p {
    color: white;
}

.header h1 {
    font-size: 48px;
}

.header p {
    font-size: 18px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 4px;
    border: none;
    background-color: #e74c3c;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
}

.buttons button:hover {
    background-color: #c0392b;
}

.recent-winners-container {
    margin-left: 20px;
    margin-top: 50px;
  }
.winners {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.winner {
    padding: 10px;
    text-align: left; /* Align text to the left */
}
.winner img {
    max-width: 100%;
    width: 350px; /* Adjust the width as needed */
    height: 350px; /* Adjust the height as needed */
    border-radius: 10px; /* Rounded corners, but not a circle */
    display: block;
    margin-bottom: 10px; /* Space between image and text */
}
.winner h3 {
    margin-top: 10px;
    font-size: 1.5em;
    margin-bottom: 5px; /* Add a bit of space below the heading */
}
.winner p {
    color: #777;
    margin: 5px 0; /* Add a bit of space between paragraphs */
}

.btn2, .btn3, .btn4 {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn2 .winner, .btn3 .winner, .btn4 .winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

/* Responsive design for smaller screens */
@media (max-width: 1200px) {
    .winner {
        flex: 1 1 45%; /* 2 items per row on medium screens */
        max-width: 45%;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 100px 20px;
    }

    .header h1 {
        font-size: 36px;
    }

    .header p {
        font-size: 16px;
    }

    .winners {
        flex-direction: column;
        align-items: center;
    }

    .winner {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
